.money input {
    width: 80px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.status button {
    border-radius: 35px;
    margin: 0 8px;
}

.status {
    display: flex;
    margin-bottom: 10px;
}

.status>span {
    margin-right: 20px;
}